.title {
    margin: 1em 0 0 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;  
    font-size: 50px;   
  
    text-align: center;
}

.news-line {
     
     border-bottom: 2px solid #1a1a1a;
     border-left: 2px solid #1a1a1a;
     border-right: 2px solid #1a1a1a;
     border-color: black;
	 min-height:50px;     
     list-style-type: none;
     padding-left: 10px;
     padding-top: 10px;
     padding-right: 10px;
    
     }

li {
list-style-type: none;
}

.news-line:first-child {
    border-top: 2px solid #1a1a1a;
}   


.clicked {
     background-color: #B2DFEE;
}

.article-title {
    font-weight: bold;
}

.arrow-collapsed {
    width: 32px;
    height: 32px;
    float: right;
    background-image: url('images/ic_expand_32.png');	
}  

.arrow-expanded {
    width: 32px;
    height: 32px;
    float: right;
    background-image: url('images/ic_collapse_32.png');
}


.refresh {
 
}

.error-response {
    color: red;
    text-align: center;  
}

.news {
    padding-right: 40px;
}

.summary {
    display: none;
}


.nav-buttons {
    display: inline-block;
    
}

.previous, .next, .current {
    
    margin-left: 200px;
    border-top: 2px solid #1a1a1a;
    border-bottom: 2px solid #1a1a1a;
     border-left: 2px solid #1a1a1a;
     border-right: 2px solid #1a1a1a;
     border-color: black;
       
     list-style-type: none;
     padding-left: 10px;
     padding-top: 10px;
     padding-right: 10px;
}
.pages {
margin-left: auto;
margin-right: auto;
width:1000px;
}


.button-wrapper{ 
    text-align: center; 
    padding-top: 25px;}


.current {
    width: 30px;
}

.enteredpage-error {
    text-align: center; 
     padding-top: 25px;
}