.title {
    margin: 1em 0 1em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;  
    font-size: 50px;   
  
    text-align: center;
}

li {
     
     border-bottom: 2px solid #1a1a1a;
     border-left: 2px solid #1a1a1a;
     border-right: 2px solid #1a1a1a;
     
     border-color: black;
     list-style-type: none;
     padding-left: 10px;
     padding-top: 10px;
     padding-right: 10px;
     }

li:first-child {
    border-top: 2px solid #1a1a1a;
}   

.arrowCollapsed {
    width: 40px;
    height: 40px;
    float: right;
    background-image: url('http://i60.tinypic.com/jjo5fl.png');
}  

.arrowExpanded {
    width: 40px;
    height: 40px;
    float: right;
    background-image: url('');

}

.link-container {
     
     padding-left: 60px;
}

a {
     
    
}

a:link {
    
}

a:visited {
    color: green;
}

li:hover {
    color: blue;
}

a:active {
    color: blue;
}

.refresh {
  text-align: center;  
}

.errorResponse {
    color: red;
    text-align: center;  
}