.title {
    margin: 1em 0 0 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;  
    font-size: 50px;   
  
    text-align: center;
}

.newsLine {
     
     border-bottom: 2px solid #1a1a1a;
     border-left: 2px solid #1a1a1a;
     border-right: 2px solid #1a1a1a;
     border-color: black;
	 min-height:50px;     
     list-style-type: none;
     padding-left: 10px;
     padding-top: 10px;
     padding-right: 10px;
    
     }

li {
list-style-type: none;
}

.newsLine:first-child {
    border-top: 2px solid #1a1a1a;
}   


.clicked {
     background-color: #B2DFEE;
}

.articleTitle {
    font-weight: bold;
}

.arrowCollapsed {
    width: 32px;
    height: 32px;
    float: right;
    background-image: url('images/ic_expand_32.png');	
}  

.arrowExpanded {
    width: 32px;
    height: 32px;
    float: right;
    background-image: url('images/ic_collapse_32.png');
}


.refresh {
 
}

.errorResponse {
    color: red;
    text-align: center;  
}

.news {
    padding-right: 40px;
}

.summary {
    display: none;
}


.previous, .next, .current, .pages-quantity {
    display: inline-block;
}

.previous, {
    float: left;
}

.next {
    float: right;
}

.current, {
padding-left: 100px;
}

.button-wrapper{ 
    text-align: center; 
    padding-top: 25px;}